global-exclude *.py[co]
global-exclude __pycache__
recursive-include iniesta *.py
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include tox.ini
exclude *.png
graft test
graft docs
