global-exclude *.py[co]
global-exclude __pycache__
recursive-include iniesta *.py
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include tox.ini
include requirements.txt
exclude *.png
prune test
prune docs
exclude .python-version
exclude .readthedocs.yml
