recursive-include iniesta *.py
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include tox.ini
include requirements/*.txt
exclude *.png
exclude *.yaml
exclude *.toml
graft tests
graft docs
graft .github
prune docs/build
recursive-exclude requirements *.in
exclude .python-version
exclude .readthedocs.yml
global-exclude *.py[co]
global-exclude __pycache__
